.productform{
    border: 1px solid black;
    width: 80%;
    margin: auto;
    padding: 20px;
    font-size: 18px;
    background-color: rgb(252, 248, 244);
}
.form-group{
    width: 60%;

}
.form-group .form-control-lb{
    float: left;
    width: 52%;
    font-size: 18px;
}
.form-group .form-control-lg{
   float: right;
   width: 45%;
   font-size: 18px;
}

.form-group .btn{
    width: 100px;
    height: 30px;
}